.navbar {
  border: 0;
  margin: 0;
  padding-left: 5%;
  padding-right: 5%;
}

.navbar-brand {
  color: #2471A3 !important; /*override gray color of navbar-brand text color*/
  font-weight: bold;
  font-size: 1.8em;
}

.navbar-brand : hover {
  color: black !important;
}

.navbar-nav a {
  font-weight: bold;
}

.active a {
  background-color: #3498DB !important;
  color: white !important;
}

.vertical-center {
  display: inline-block;

}

#home-screen {
  margin: auto;
  background-color: #68C2D4;
}

#home-screen .row {
  vertical-align: middle;
  margin: 5%;
}

#home-screen h1 {
  color: #FFF8DC;
}

#profile-pic {
  height: 40%;
}
